<!DOCTYPE html>
html(lang="es") 
head
	meta(charset="UTF-8")
	title 
	meta(name="viewport", content="initial-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="css/estilos.css")
	link(name="author", content="Gerson Perez Aguilar")
body
	